                                                            <div class="col-3">
                                                                <span>{{ f.vars.label|trans }}</span>
                                                            </div>
                                                            <div class="col-9">
                                                                {{ form_widget(f) }}
                                                                {{ form_errors(f) }}
                                                            </div>