.ec-blockBtn {
  &--action,
  &--cancel {
    border-radius: 3px;
    height: 56px;
    line-height: 56px;
    padding-left: 10px;
    @include media_tablet {
      height: 40px;
      line-height: 40px;
    }
  }

  &--action:hover {
    background-color: #D85145;
    border-color: #D85145;
  }
}
