{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<div class="ec-headerRole__title">
    <div class="ec-headerTitle">
        <div class="ec-headerTitle__title">
          <div class="ec-logoRole ec-logoRole__logo">
            {# removed: 個人輸入代行通販サイト #}
            <a class="ec-logoRole__logo" href="{{ url('homepage') }}">
              <img src="{{ asset('assets/img/common/logo_1_2.png', 'user_data') }}" alt="logo">
            </a>
          </div>
        </div>
    </div>
</div>