{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% form_theme form 'Form/form_div_layout.twig' %}

    <div class="ec-headerSearch">
        <h3 class="ec-headerSearch__title">ITEM SEARCH</h3>
        <form method="get" class="searchform" action="{{ path('product_list') }}">
            <div class="ec-headerSearch__category">
                <div class="ec-select ec-select_search">
                    {{ form_widget(form.category_id, {'id': null, 'attr': {'class': 'category_id'}}) }}
                </div>
            </div>
            <div class="search_menu">
                <input type="radio" id="search_default" name="search_select" value="search_default" checked>
                <label for="search_default"><span></span>サイト内検索</label>
                <input type="radio" id="search_google" name="search_select" value="search_google">
                <label for="search_google"><span></span>Web検索</label>
                </div>
            <div class="ec-headerSearch__keyword">
                <div class="ec-input">
                    {{ form_widget(form.name, {'id': null, 'attr': {'class': 'search-name', 'placeholder' : '商品名を正確に入力' }} ) }}
                    <button class="ec-headerSearch__keywordBtn" type="submit" aria-label="{{ '検索'|trans }}">
                        <svg class="cb cb-search" aria-hidden="true"><use xlink:href="#cb-search" /></svg>
                    </button>
                </div>
            </div>
        </form>
    </div>