{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>{{ '利用規約'|trans }}</h1>
        </div>
        <div class="ec-pageContent">
            <strong><font size='+1'>ご利用頂く皆様へ</font></strong><br>
            <br>
いつもライオンエキスプレスをご利用頂きありがとう御座います。<p>
    <br>
<p>ライオンエキスプレスでは、こういったお悩みを抱える全ての方々に、メーカー正規品である事を不定期に確認した上で、世界中の高品質な医薬品・ジェネリック医薬品を安価でご提供させて頂きます。</p>
<br>
<p>ライオンエキスプレスでは、コンプレックスに関わる症状や疾病でお医者様に相談する事を<br>
ためらってしまう保険適用外の医薬品を出来る限り安価で利用したい<br>
こういったニーズに応える為のサービスです。</p>

<p>日本の医療薬品承認は非常に時間が掛かる事から、<br>
海外では承認されているもの、広く愛好されているものであっても、<br>
保険適用内で入手する事が困難な場合が御座います。</p>
<br>
ライオンエキスプレスでは、こういったお悩みを抱える全ての方々に、メーカー正規品である事を不定期に確認した上で、世界中の高品質な医薬品・ジェネリック医薬品を安価でご提供させて頂きます。<p>
<br>
また、日本の「医薬品、医療機器等の品質、有効性及び安全性の確保等に関する法律」が
定めるルールを厳守しておりますので、ご購入可能数、郵送先等について
お客様のご要望にお応えできない事もありますが、誠心誠意対応させて頂きます。<p>
    <br>
加えて、プライバシー保護の観点から、ご登録頂きました情報、発送先等につきましては
厳重にセキュリティー管理を行っております。<p>
<br>
商品発送につきましても、商品名が分からないよう無記名で中身が見えない形で
行わせて頂いております。<p>
<br>
商品の発送は海外からになりますので、ご不安な点もあるかと思いますが、
郵便追跡番号を発送と同時にお伝えする等、出来る限りのサービスを積極的に行いながら
より安心してご利用頂けるようサービスの品質向上に努めて参ります。<p>
<br>
<p>ジェネクリ</p>
<strong><font size='+2'>利用規則</font></strong><br>
<Br>
<p>ライオンエキスプレス(以下弊社)のサービスおよび責務は、お客様の個人輸入の手続きを代行させて頂く個人輸入代行です。</p>
<Br>
    お客様からのご依頼に基づき、ご注文を受けた商品をお届け致しますが、
    お客様の商品のご使用に関しては弊社で責任を負うことができません。<Br>

    安全性に問題のある商品は取扱わないようにしていますが、
    効果の高い商品は副作用の危険がある可能性もあります。
    製品情報および個人輸入について十分ご理解のうえ、個人の責任のもとお申し込み、
    ご使用下さいますようお願い致します。<Br>
<br>
    つきましては、以下事項をご利用前に必ずお読み下さいますようお願い致します。
    尚、ご注文後は、弊社ご利用規約の全項にご同意されたこととさせて頂きます。<Br>
<Br>
<strong><font size='+1'>個人輸入代行について</font></strong><br>
<br>
<strong>［在庫数が若干変動する場合があります］</strong><br>
弊社は通常のＥＣサイトとは異なり、個人輸入代行サービスです。<br>
お客様からのご注文を受けてから海外の発送元へ発注手配をするため、
在庫数が変動する場合がございます。<br>
商品や状況によってはご注文後に在庫切れとなる可能性があることを予めご了承下さい。<br>
尚、在庫切れの場合は、入荷次第発送となります。<br>
<br>
<strong>［商品情報に関してはお答えしかねます］</strong><br>
弊社サイト上に記載の商品情報(効果、効能、使用方法、副作用等)についての文面は、
薬効成分等の一般的な作用機序を解説したもの、または発送元提供の商品広告・カタログ等からの引用・掲載であり、
この通りの服用を推奨しているものではなく、いかなる場合も弊社が商品に関して一切の責任を負うものではありません。
<br><br>
尚、弊社から商品に関するアドバイスをすることは、
「医薬品、医療機器等の品質、有効性および安全性の確保等に関する法律」
(旧：薬事法)に触れる可能性があるため、お答えしかねます。商品に関するお問い合わせは、
お客様ご自身で医師、歯科医師あるいは薬剤師、またはメーカーへお問い合わせ下さい。<br>
<br>
<strong>［商品価格が流動的です］</strong><br>
弊社で取扱う商品のほとんどが海外製品のため、弊社独自の為替レートに合わせて商品の価格設定をしています。<br>
そのため、弊社サイト記載の商品価格は為替の変動により日々予告なしに変更します事、予めご理解下さい。<br>
<br>
<strong><font size='+1'>弊社サービスについて</font></strong><br>
<br>
<strong><p>■ご利用対象について</p></strong>
<br>
<p>自己の行動に責任を持てる２０歳以上の方</p>

日本における個人輸入、医薬品医療機器等法について十分な知識と理解がある方<br>

注文者ご本人様が、ご注文商品を個人使用する目的である方<br>
(日本発送商品を除き、 代理注文および 譲渡・転売は法律で禁じられています)

医師(商品により歯科医師)から処方された処方せんを持っている方<br>
あるいは医師免許・歯科医師免許を持っている方<br>

医師、歯科医師あるいは薬剤師指導のもと、
製品名・効能効果・使用方法・副作用について十分理解している方<br>
(医師、歯科医師あるいは薬剤師の指導下でない方のご利用は承れません)<br>

日本における医薬品医療機器等法上で制限されている数量を超えたご注文(他社への同時注文も含む)をしない方<br>

弊社からの通信手段により連絡がとれる方<br>
(メール不達等による損害等の責任は負いかねます。<br>
ご不安な方はメール受信テストを実施して下さい)</p>
<br>
<strong><p>■ご注文について</p></strong>

ご注文後(銀行振込みの入金確認後)の注文キャンセルならびに
注文内容の変更(商品や数量の変更等)は、一切承ることができませんので予めご了承下さい。<br>

受取人は必ず使用者ご本人様の名義にして下さい。<br>
商品の使用は、輸入者ご本人様に限ります。<br>

男性専用商品は女性名義でご注文することができません。<br>
また、女性専用商品は男性名義でご注文することができません。<br>

送り先ご住所は使用者ご本人様のご自宅住所でお願いします。<br>
(企業様・店舗様宛て等はご遠慮下さい)また、アパート/マンション名等がある場合には必ずご記入下さい。<br>
誤記により発送元へ返送された商品の再配達をご希望された場合、<br>
再配達送料をご負担して頂く事になりますので、お間違いのないようお願いします。<br>

商品価格には商品代金のほかに、送料、代行手数料が含まれています。<br>
お振込手数料、また商品によって関税等がかかる場合は、お客様ご負担となりますのでご了承下さい。<br>

商品は、銀行振込みによる入金確認後に発送致します。<br>
ご注文後に弊社より送付する正式受注確認メール送信日から１０営業日以内に<br>
入金または決済確認ができない場合は自動キャンセルとなります。<br>

海外送金による入金は承っていません。<br>

病院または医院でご注文される場合は、医師専用ページから承っています。</p>
<br>
<strong><p>■取扱商品について</p></strong>

商品を使用し、使用に起因する副作用等のトラブルが生じた場合はお客様の自己責任となります。<br>
また、商品の誤使用に関しても同様ですので、
弊社に責任追及、および訴訟・補償請求は行わないことにご同意下さい。<br>
ご使用前には必ず医師・歯科医師・薬剤師にご相談下さい。<br>

弊社サイト商品詳細ページの文面は、薬効成分等の一般的な作用機序を解説したものであり、
この通りの服用を推奨しているものではありません。<br>
ご自身で異変を感じた際は、必ず医師・歯科医師の診察をお受け下さい。

特に記載がない限り、弊社サイト記載の用法・用量は一般成人に対しての記述です。<br>

商品の効果には個人差がありますことを予めご了承下さい。<br>

妊娠中または妊娠の可能性がある方は必ず服用前に医師へご相談下さい。</p>
<br>
<strong><p>■輸入量について</p></strong>

個人輸入できる数量は、以下の通り制限されています。(詳細は厚生労働省までご確認下さい)

<p>(1)医薬品又は医薬部外品・・・・・・・・・・２ヶ月分以内</p>

ただし毒薬、劇薬および処方せん薬は１ヶ月分以内<br>

外用剤(毒薬、劇薬および処方せん薬は除く)は１品目２４個以内<br>

※医薬部外品…養毛剤、浴用剤等人体への作用が緩やかなもの<br>

※処方せん薬…使用にあたり処方せんの交付が必要な医薬品<br>

※外用剤…軟膏、点眼剤等<br>

<p>(2)化粧品・・・・・・・・・・・・・・・・・１品目２４個以内</p>

<p>(3)医療機器・・・・・・・・・・・・・・・・１セット(家庭用のみ)</p>

電気マッサージ器等のうち家庭用のものに限る<br>

下記の場合の輸入については、特にご注意下さい。<br>

<p>(1)「ミノキシジル(水溶液)」を含有する商品およびそれを含むセット商品をご注文の場合</p>

弊社では、上記商品における複数個でのご注文は承ることができません。<br>
また、前回の輸入から規定の日数<br>
(１本セットの場合は約４週間、２本セットの場合は約８週間)を経過していない場合も、
ご注文を承ることができません。なお、上記成分を含有する商品は全て同一として見なされますので、
異なる商品の複数個のご注文および輸入規定日数経過前のご注文は行なわないようお願いします。<br>

<p>(2)「シルデナフィル」「ニコチン」「リパーゼ」を含有する商品およびそれらを含むセット商品をご注文の場合</p>

上記商品の数量は、１ヶ月分でのご注文のみ承っています。<br>
１ヶ月分を超える複数個のご注文の場合には、約１ヶ月の間隔をあけての分納発送とさせて頂きます。<br>
尚、上記成分を含有する商品は全て同一として見なされますので、異なる商品のご注文でも、
合わせて１ヶ月分を超える場合には同じく約１ヶ月の間隔をあけての分納発送となります。<br>
尚、次回の発送までの間隔につきましては、発送元の判断となります。<br>

<p>(3)注射用医薬品およびそれを含むセット商品をご注文の場合</p>

注射用医薬品関連の輸入自体は違法行為ではありませんが、ご注文時には同意書の提出が必須となり、
また通関時には薬監証明書とインボイスの提示が求められる場合があります。<br>
その際は、提示しない限り通関不可能であるため、薬監証明書の取得ができないお客様はご注文をご遠慮下さい。<br>

※必要書類の提出が可能なお客様でも、<br>
弊社の判断にてご注文受付をお断りさせていただく場合がございますことを、予めご了承下さい。<br>

※医師・歯科医師の方の場合は、規定内数量の輸入は可能ですが、
その輸入の可否につきましては厚生労働省 までご確認下さい。<br>

<p>(4)ご注文商品を沖縄県にお届けの場合</p>

沖縄税関では、荷物の開封検査があり没収の可能性が高いため、
沖縄県にお届けのお客様は、医薬品に分類される商品は、1ヶ月分以内または30錠以下の範囲でのご注文のみ承っています。<br>
税関での保留・破棄・返送等がある場合は、弊社の保証対象外となります。<br>

配送方法によっても輸入制限があります。各配送方法の輸入量や注意事項について、
ご注文前に配送方法ページを必ずご確認下さい。<br>

輸入量に関する本事項全てにおいて、弊社以外でご注文される場合の輸入量も含まれますのでご注意下さい。<br>

弊社では単品商品の他に、２個セット、３個セット等のセット商品もご用意しています。<br>
輸入量に関する本事項全てを守ったうえで、複数個ご注文を希望される際は、
例えば３個セットご希望の場合、「1セットを３個」ご注文されることをお勧めします。<br>
その場合は２～３週間ほど間隔をあけての分納発送をさせて頂きます。<br>
尚、次回の発送までの間隔につきましては、発送元の判断となります。<br>

輸入量についてはご注文者様個人の責任となります。<br>
医薬品医療機器等法違反により、税関で保留・破棄・返送等がある場合、弊社で責任は負いかねますので、
個人の責任のもと正しくご利用下さいますようお願いします。</p>
<br>
<strong><p>■損害賠償請求について</p></strong>

弊社は、不正カードの利用や虚偽の申し立てによるチャージバックを利用した詐欺行為など、
お客様の責に帰すべきあらゆる事由により被った損害について、不正な支払いを拒否する権利を有し、
このような事案が発生した場合は、運営者と利用者で協議を行い、解決するものとします。</p>
<br>
<strong><p>■配送について</p></strong>

商品の配送は、弊社サイトの各商品価格欄に記載の配送方法<br>
(日本郵便、ヤマト運輸、日本通運のいずれかの配送サービス)で行ないます。<br>
各配送方法の注意事項については、ご注文前に配送方法ページを必ずご確認下さい。<br>
通常は、手配日より７～１０営業日前後でのお届けとなります。<br>
ただし、あくまでも目安であり、断定できる期日ではありません。<br>
通関事情、あるいは天災や突発的な情勢により、商品到着が遅れる可能性があります。<br>

商品によって発送元(発送国)が異なり、製造国から直接発送される商品と、製造国と発送国が異なる商品があります。<br>

お客様に代わる郵便局や各運送会社への問い合わせは、弊社では一切行なっていません。<br>
荷物番号をお知らせしますので、ご自身で郵便局や各運送会社にご確認、お問い合わせ下さい。<br>

住所末尾に、宅配ボックスへの投函や配送希望時間を追記することが可能です。<br>
ただし、海外からの発送であるため、あくまでもその対応は、
配達員の判断となり、必ずしも希望通りの配達を弊社が保証するものではありません。<br>

次の場合などで商品を受け取りにならなかった場合は特にご注意下さい。<br>

<p>(1)お客様都合による商品の「受け取り行為拒否」をされた場合</p>

万一、商品の「受け取り行為の拒否」をされた場合は、弊社の保証対象外となり商品の返金等は一切承っていません。<br>
よって商品の「受け取り行為の拒否」は絶対に行なわないようお願いします。<br>
また、その際は、発送元に返送される送料を含む返送に関わる全ての費用(以下：返送手数料)を請求させて頂きます。<br>
なお、そのうえで再発送をご希望の方は、商品が返送扱いとなり
発送元へ到着した後、返送手数料ならびに再発送手数料をお客様より頂いたうえで承ります。<br>
ただし、次回以降のご注文受付をお断りさせていただく場合がございますことを、予めご了承下さい。<br>

<p>(2)受取人様のご不在等で商品を受け取りにならなかった場合</p>

長期不在等で、商品を受け取りにならなかった場合は、
各運送会社で一時的に保管され、保管期間が過ぎた後、ほとんどの場合は発送元へ返送扱いとなりますのでご注意下さい。<br>
なお、そのうえで再発送をご希望の方は、商品が返送扱いとなり
発送元へ到着した後、返送手数料ならびに再発送手数料をお客様より頂いたうえで承ります。<br>

※郵便局留めを選択された方は、自宅に通知などはありませんので、
ご自身で追跡番号をご確認頂き、ご指定の郵便局でお受取り下さい。<br>

郵便局到着から10～14日間の取り置き後、受け取りをされない場合は返送扱いとなります。<br>
詳しくは郵便局留めページをご確認下さい。<br>

※一部のヤマト便発送商品は、保管期間(7日間)が過ぎた場合、商品が破棄扱いとなりますので特にご注意下さい。<br>

なお、そのうえで再発送をご希望の方は、再発送手数料、ならびに追加の商品代金を
お客様より頂いたうえで承ります。<br>
また、商品が破棄扱いとならずに再発送や転送が可能な場合もありますが、
その際は返送手数料をお客様より頂いたうえで承ります。</p>
<br>
<strong><p>■税関の通関保留について</p></strong>

非常に稀なケースですが、税関で商品がとめられてしまうこと(通関保留)があります。<br>
その場合は商品受取までの日数がかかりますことをご了承下さい。<br>

通関保留になった場合、税関からお客様へ通達が届きます。<br>
その際、薬監証明の提示を求められる場合もありますが、薬監証明書については厚生労働省までご確認下さい。<br>
弊社サイトにて、薬監証明についてのお問い合わせはご遠慮下さい。<br>

万一、お客様が本規約に遵守せず注文し通関保留となった際は、
いかなる場合においても弊社の保証対象外となり、返金および返品は承っていません。<br>
特に、以下商品は通関保留になる可能性がありますので、予めご注意下さい。<br>

<p>(1)商品名に【要同意書】と記載がある商品</p>

※ご注文時には使用に関する【同意書】の提出、通関時には【薬監証明書】と【インボイス】が必要です。<br>

<p>(2)商品名に【要医師免許】と記載がある商品</p>

※ご注文は医師・歯科医師の方限定です。<br>
(医師・歯科医師の指導下にあっても、医師免許・歯科医師免許保持者以外の方からのご注文は承っていません)</p>
<br>
<strong><p>■商品未着について</p></strong>

商品が発送国を離れた日より２週間経過しても商品が届かない場合は、必ず弊社までご連絡下さい。<br>
また、商品が発送国を離れた日より３週間を経過しても日本へ未入国の場合は、
弊社にて調査のうえ、以下の通り対応します。なお、確認先が海外であるため、調査にはお時間がかかりますことをご了承下さい。<br>

<p>(1)希望者に同商品を再発送します。ただし、重複して届いた商品は「受け取り拒否」をして下さい。</p>

※同意できない場合には、再発送はできません。<br>

<p>(2)希望者に商品代金を返金します。</p>

※荷物が他国経由便で日本へ発送され、出国側および受取国側の
税関での通関検査に通常より日数がかかる場合等は、この限りではありません。<br>

※荷物の開封をしてしまった場合は、いかなる場合でもお客様に商品代金をお支払い頂きます。</p>
<br>
<strong><p>■返金について</p></strong>

本規約の弊社免責対象を除き、以下の場合は返金対応を行ないます。<br>

<p>(1)ご注文後にご注文商品が何らかの理由で発送できない状態となり、かつ今後の再入荷予定がない場合</p>

(稀に、商品が予想外の在庫切れになる場合や、検品時の不備発見で発送できない場合等があります)<br>

<p>(2)その他弊社が返金対応することが適当と判断した場合</p>

返金手続きはお客様からの申し出を受けた後、「お客様ご指定の銀行口座への返金」、
または「ポイントないしデポジットにて相殺」のいずれかの方法で返金対応を行ないます。<br>

「ポイントないしデポジットにて相殺」をお選びいただいた方には、
弊社から追加特典を「ポイントないしデポジット」に代えて進呈する場合があります。<br>
その追加特典分については、いかなる場合でも金銭に換金することは出来ません。<br>
また、特典を受け取ったお客様が、その後に「銀行口座への返金」へ変更した場合には、特典は消滅しますのでご注意下さい。<br>
(その時点で既に特典を使用されている場合は、銀行口座への返金変更には応じかねますのでご了承下さい)</p>
<br>
<strong><p>■返品・交換について</p></strong>

商品ご到着後は、すぐに荷物の内容確認をお願いします。<br>
万全の管理体制のもと、商品の品質や発送状態には十分に注意していますが、
数量不足、破損、不良の場合や、ご注文と異なる商品が届いた場合は、
未使用状態で到着後７日以内に弊社までお知らせ下さい。<br>
お客様からのご連絡が、到着後７日を超えた場合は弊社保証対象外となり、
返品、交換、追加商品の発送等、一切対応できませんのでご注意下さい。<br>

万一、商品に問題があった場合には、そのままの状態で保存して下さい。<br>
数量不足、商品間違いおよび破損や商品不良があった場合は、
インボイス・外箱(外観やラベルシール)と商品の画像提示が発送元より求められます。<br>
画像を弊社に提出できない場合は、弊社にて一切の対応ができませんのでご注意下さい。</p>
<br>
<strong><p>■返金・返品・交換の免責対象(保証対象外)について</p></strong>

個人輸入代行は、日本の法律におけるクーリングオフ制度の対象ではありません。<br>
ご注文の際は十分にご検討のうえ、必要な分量のみご注文下さい。<br>
また、弊社免責対象(保証対象外)は以下の通りです。<br>

商品到着後７日を経過している場合<br>
(商品ご到着後は、すぐに荷物の内容確認をお願いします)<br>

弊社にて商品に瑕疵(かし)が確認できない場合、<br>
または、弊社発送荷物であることが確認できない場合<br>

商品を一部でも使用している場合(一部の返金保証対象商品は除きます)<br>

お客様のご注文情報に虚偽、または誤入力、入力不足があり、商品が不達となった場合<br>

商品の「受け取り行為拒否」ならびに長期不在等でお客様都合によって商品を受け取りにならなかった場合<br>

航空、運搬等輸送中の事故の場合、または郵便局、各運送会社の不手際による配送トラブルがあった場合<br>

郵便局、各運送会社の不手際による不在票未投函があり商品が返送となった場合<br>

男性用商品を女性名義で、または女性用商品を男性名義でご注文された場合<br>

使用者ご本人様の自宅以外の配達先(会社・商店、ビル、郵便局留め、○○様方△△宛て等)を指定された場合<br>

パッケージの相違や変更等がある場合<br>
(海外製品は製造ロットによりパッケージ変更が多々あるため、その場合の交換および返金は承っていません)<br>

配送中に生じた多少の箱潰れやへこみ等、ご使用に際して影響のない破損がある場合<br>

医薬品医療機器等法違反による税関での保留・破棄・返送等がある場合<br>

税関での通関検査のために開封された商品が届いた場合<br>

天災、戦争、テロ、暴動、法令の改廃・制定、公権力による処分・命令、その他不可抗力により、
ご注文の全部または一部の履行の遅滞、または不能が生じた場合(商品発送国、および輸送経由国等、弊社関係各国が該当します)<br>

※商品が発送国を離れた日より２１日を経過してもお客様から何の連絡もない場合、
商品が届いたものと判断し、以降は保証対象外とさせて頂き、ご注文に対する業務を終了致します。</p>
<br>
<strong><p>■メール配信停止について</p></strong>

info@lion-express.comまで、メール配信停止ご希望の旨、ご連絡下さい。<br>
確認後、配信を停止させて頂きます。</p>
<br>

<strong><p>■退会に関して</p></strong>

会員が退会を希望する場合には、会員本人が退会手続きを行ってください。<br>
会員ページの退会ボタン、又は本ページ内のお問い合わせフォームから
会員名（漢字・ふりがな）電話番号パスワードを記載し退会したい旨をお伝えください。<br>
退会に関しまして手数料はかかりません。<br>
土日を挟む場合、退会申請から弊社からの返信まで３日程お時間を頂く場合も御座います。<br>
退会申請後弊社からのメールを受け取り退会手続き終了後退会となります。<br>
<br>
<strong><p>■準拠法について</p></strong>

本規約および本規約に定める権利義務に関しては、日本法に従うものとし、
訴訟の必要が発生した場合には、東京地方裁判所を第一審の専属管轄裁判所と定めます。<br>

以上

本規約は予告なく任意に改定(変更、追加、削除、補充)致します。 改定後は、最新の改定された規約内容が有効となります。

弊社サイトにおきまして、法律上問題がある箇所や表現がありましたら、お知らせ下さい。</p>
        </div>
    </div>
    
    <br>
{% endblock %}