{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.v.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1> {{ '特定商取引法に基づく表記'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-borderedDefs">
                    <dl>
                        <dt>
                            <label class="ec-label">販売業者</label>
                        </dt>
                        <dd>EBE INC.
</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">運営責任者</label>
                        </dt>
                        <dd>DAVID CLARICE REJANO    </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">所在地</label>
                        </dt>
                        <dd>Unit 1502 15th Floor MDI Corporate Center 10th Ave. cor. 39th Street, Bonifacio Global City, Taguig City METORO MANILA Philippines 

</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">電話番号</label>
                        </dt>
                        <dd>03-4400-3756</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">問い合わせ対応時間</label>
                        </dt>
                        <dd>土日祝日を除く10:00〜17:00</dd>
                    </dl>
                    
                    <dl>
                        <dt>
                            <label class="ec-label">メールアドレス</label>
                        </dt>
                        <dd>info@lion-express.com<a href="mailto:"></a></dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">URL</label>
                        </dt>
                        <dd><a href=""></a>https://lion-express.com/</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">商品代金以外の必要料金</label>
                        </dt>
                        <dd>振り込み手数料　送料全国一律1,000円(9,980円以上お買い上げの場合は無料)</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">お支払い方法</label>
                        </dt>
                        <dd>銀行振り込み</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">お支払期限</label>
                        </dt>
                        <dd>ご注文より7日以内
ご入金の確認後、1週間から3週間程度でお手元に商品が届きますが、
海外からの発送の為、多少前後する場合がありますので、ご理解下さい。</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">返品・交換について</label>
                        </dt>
                        <dd>返品は受け付けておりません。
弊社の発送ミス等による品違い等の返品・交換は弊社負担にて受付いたします。
また、中身の破損等につきましては、到着後3日以内にご連絡をお願いいたします。</dd>
                    </dl>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}