.ec-registerRole {
  &__actions {
    width: 80%;
    margin: {
      left: auto;
      right: auto;
    }
    @include media_tablet {
      width: 40%;
      margin-bottom: 20px;
    }
    @include media_desktop {
      width: 100%;
    }
  }
}
