{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<div class="ec-headerRole__title">
    <div class="ec-headerTitle">
        <div class="ec-headerTitle__title">
          <div class="ec-logoRole ec-logoRole__logo">
            <p class="ec-logoRole__copy pc-only">個人輸入代行通販サイト</p>
            <a class="ec-logoRole__logo" href="{{ url('homepage') }}">
              <img src="{{ asset('/html/user_data/assets/img/logo_1_2.png') }}" alt="logo">
            </a>
          </div>
        </div>
    </div>
</div>